h1.home-content {
    font-size: 200%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;

    /* 居中方法之一
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    */
}
#banner a {
    background-color: #ff9200ed!important;
}
.button.special {
    background-color: #ff9200ed!important;
}
.wrapper.style3 a {
    color: #ff9200!important;
    font-weight: 500;
}

div#container {
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
}

div.hot-data {
    text-align: center;
    margin-top: 2em;
}
div.hot-data ul li {
    text-align: left;
    padding-bottom: 0.5rem;
}
div#main-logo-lg {
    width:700px;
    margin: 0 auto;
    background-image: url(/static/images/btc-mag-logo-p.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    min-height: 110px;
    margin-bottom: 1rem;
}
h1.banner-header {
    text-indent: -50000em;
    display: none;
}
a.article-detail {
    color: #a6a6a6!important;
}
