body {
    margin-top: 0!important;
}
h1.home-content {
    font-size: 200%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;

    /* 居中方法之一
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    */
}
.navbar-default .navbar-toggle {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.navbar-toggle .icon-bar {
    width: 20px;
}
.navbar-default .navbar-brand {
    color: #ff9e00;
    font-size: 25px;
}
#banner {
    margin-top: 50px;
}
#banner a {
    background-color: #ff9200ed!important;
}
#banner .inner p {
    font-weight: 700;
}
#banner .button {
    width: 120px;
}
.button.special {
    background-color: #ff9200ed!important;
}
.wrapper.style3 a {
    color: #ff9200!important;
    font-weight: 500;
}

div#container {
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
}

div.hot-data {
    text-align: center;
    margin-top: 2em;
}
div.hot-data ul li {
    text-align: left;
    padding-bottom: 0.5rem;
}
div.inner {
    width: 70%;
}
div#main-logo-lg {
    margin: 0 auto;
    background-image: url(/static/images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    min-height: 110px;
    margin-bottom: 1rem;
}
h1.banner-header {
    text-indent: -50000em;
    display: none;
}
a.article-detail {
    color: #a6a6a6!important;
}
