{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>七个蝌蚪</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{% static '/7gkd/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static '/7gkd/assets/css/font-awesome.min.css' %}">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
{#					<a href="{% url '7gkd' %}" class="logo">introspect</a>#}
					<a href="{% url '7gkd' %}" class="logo">
                        <img src="{% static '7gkd/images/logo.png' %}" style="width: 60px; margin-top: 15px;" alt="" />
                    </a>
					<nav id="nav">
						<a href="{% url '7gkd' %}">首页</a>
						<a href="#">大师级导师</a>
						<a href="#">顶级舞台</a>
						<a href="#">蝌蚪乐队</a>
						<a href="https://jinshuju.net/f/amKC9H" target="view_window" style="color:#ead52b;">预约报名</a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>七个蝌蚪: <span>给孩子最有趣、最专业的音乐教育</span></h1>
					<ul class="actions">
						<li><a href="#three" class="button alt">探索蝌蚪</a></li>
					</ul>
				</div>
			</section>

        <!-- Three -->
			<section id="three">
                <div style="max-width: 65em; width: calc(100% - 6em); margin: 0 auto;">
                    <header>
                        <h2 style="color: #111111;">为什么选择七个蝌蚪</h2>
                    </header>
                    <h3 style="color: grey">乐队式训练  组建高水准乐团</h3>
                </div>
				<div class="inner">
					<article>
						<div class="content">
                            <div class="youshi" style="background-image: url({% static '7gkd/images/img1.jpeg' %});background-size: cover;background-position-y: center;background-position-x: center;background-repeat: no-repeat;padding: 10px 20px;">
{#                                <span class="icon fa-laptop"></span>#}
                                <header>
                                    <h3>专业的支持与协助</h3>
                                </header>
                                <p style="color:white;">上海交响乐团文化发展基金会<br>中国移动<br>喜马拉雅艺术中心大观舞台</p>
                                <ul class="actions" style="text-align: center;">
                                    <li><a href="#" class="button alt">观看视频</a></li>
                                </ul>
                            </div>
                        </div>
					</article>
					<article>
						<div class="content">
                            <div class="youshi" style="background-image: url({% static '7gkd/images/img2.jpeg' %});background-size: cover;background-position-y: center;background-position-x: center;background-repeat: no-repeat;padding: 10px 20px;">
{#                                <span class="icon fa-diamond"></span>#}
                                <header>
                                    <h3>顶尖音乐团队及舞台</h3>
                                </header>
                                <p style="color:white;">上海交响乐团音乐厅<br>喜马拉雅艺术中心大观舞台<br>&nbsp;</p>
                                <ul class="actions" style="text-align: center;">
                                    <li><a href="#" class="button alt">观看视频</a></li>
                                </ul>
                            </div>
						</div>
					</article>
					<article>
                        <div class="content">
                            <div class="youshi" style="background-image: url({% static '7gkd/images/img3.jpeg' %});background-size: cover;background-position-y: center;background-position-x: center;background-repeat: no-repeat;padding: 10px 20px;">
    {#							<span class="icon fa-laptop"></span>#}
                                <header>
                                    <h3>国际大师的指导</h3>
                                </header>
                                <p style="color:white;">纪尧姆·莫尔科<br>Guillaume Molko<br>&nbsp;</p>
                                <ul class="actions" style="text-align: center;">
                                    <li><a href="#" class="button alt">观看视频</a></li>
                                </ul>
                            </div>
                        </div>
					</article>
				</div>
			</section>

		<!-- One -->
			<section id="one" style="background-color: #4cbf4b;">
				<div class="inner">
					<header style="text-align: center">
						<h2 style="color: white;">七个蝌蚪<span style="color: #ead52b;"> 8 </span>大优势</h2>
					</header>
                    <div style="height: 150px;">
                        <div class="tedian">
                            <span class="icon fa-magic"></span>
                            <h4 style="color: white">演奏家级导师</h4>
                        </div>
                        <div class="tedian">
                            <span class="icon fa-sort"></span>
                            <h4 style="color: white">定制曲目</h4>
                        </div>
                        <div class="tedian">
                            <span class="icon fa-laptop"></span>
                            <h4 style="color: white">科学训练体系</h4>
                        </div>
                        <div class="tedian">
                            <span class="icon fa-terminal"></span>
                            <h4 style="color: white">乐队合奏式训练</h4>
                        </div>
                    </div>
                    <div style="height: 150px;">
                        <div class="tedian">
                            <span class="icon fa-music"></span>
                            <h4 style="color: white">提高音乐涵养</h4>
                        </div>
                        <div class="tedian">
                            <span class="icon fa-diamond"></span>
                            <h4 style="color: white">国际化音乐理念</h4>
                        </div>
                        <div class="tedian">
                            <span class="icon fa-circle-o-notch"></span>
                            <h4 style="color: white">与世界著名乐团的交流平台</h4>
                        </div>
                        <div class="tedian">
                            <span class="icon fa-area-chart"></span>
                            <h4 style="color: white">丰富的演出与比赛机会</h4>
                        </div>
                    </div>
				</div>
			</section>

        <!-- Three -->
			<section id="three" style="margin-top:20px;padding: 4em 0 2em 0;">
                <header style="text-align: center;">
                    <h2 style="color: #111111;">站上舞台只需<span style="color: #ead52b;"> 3 </span>步</h2>
                    <h3 style="color: grey">体验乐团式趣味训练</h3>
                </header>
				<div class="inner" style="text-align: center">
                    <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 10px;">
                        <div class="step">1.在线报名</div>
                    </div>
                    <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 10px;">
                        <div class="step">2.加入乐团</div>
                    </div>
                    <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 10px;">
                        <div class="step">3.梦想舞台</div>
                    </div>
                    <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 10px;">
                        <img src="{% static '7gkd/images/step.png' %}" style="width: 300px;">
                    </div>
				</div>
			</section>

		<!-- Two -->
			<section id="two">
				<div class="inner">
                    <header style="text-align: center;margin-right:30px;">
                        <h2 style="color: #111111;"><span style="color: #ead52b;"> 4 </span><br>大<br>特<br>色</h2>
                    </header>
					<article>
						<div class="content">
							<div class="image fit tese" style="background-image: url({% static '7gkd/images/tese1.png' %});background-size: cover;background-position-x:center;background-position-y:center;background-repeat:no-repeat;"></div>
                            <header>
								<h3>乐团</h3>
							</header>
							<p>超有趣的乐团。</p>
						</div>
					</article>
					<article class="alt">
						<div class="content">
							<div class="image fit tese" style="background-image: url({% static '7gkd/images/tese2.png' %});background-size: cover;background-position-x:center;background-position-y:center;background-repeat:no-repeat;"></div>
                            <header>
								<h3>体系</h3>
							</header>
							<p>超科学的训练体系。</p>
						</div>
					</article>
                    <article class="alt">
						<div class="content">
							<div class="image fit tese" style="background-image: url({% static '7gkd/images/tese3.png' %});background-size: cover;background-position-x:center;background-position-y:center;background-repeat:no-repeat;"></div>
                            <header>
								<h3>舞台</h3>
							</header>
							<p>超一流的表演舞台。</p>
						</div>
					</article>
                    <article class="alt">
						<div class="content">
							<div class="image fit tese" style="background-image: url({% static '7gkd/images/tese4.png' %});background-size: cover;background-position-x:center;background-position-y:center;background-repeat:no-repeat;"></div>
                            <header>
								<h3>大师</h3>
							</header>
							<p>超专业的大师指导。</p>
						</div>
					</article>
				</div>
			</section>

		<!-- Three -->
			<section id="three">
                <header style="text-align: center;">
                    <h2 style="color: #111111;">合作伙伴</h2>
                </header>
				<div class="inner" style="text-align: center">

                    <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 10px;">
                        <img src="{% static '7gkd/images/partner1.png' %}" style="width: 80%;">
                    </div>
                    <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 10px;">
                        <img src="{% static '7gkd/images/partner2.png' %}" style="width: 80%;">
                    </div>
                    <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 10px;">
                        <img src="{% static '7gkd/images/partner3.png' %}" style="width: 80%;">
                    </div>
                    <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 10px;">
                        <img src="{% static '7gkd/images/partner4.png' %}" style="width: 80%;">
                    </div>
				</div>
			</section>

		<!-- Footer -->
			<section id="footer" style="background-color: #333333">
				<div class="inner">

                    <div class="container justify-content-center pb-4">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-4 col-lg-3 py-3 text-center text-md-left"  style="margin-right:200px;">
                                <img src="{% static '7gkd/images/logo2.png' %}" style="width: 150px;" />
                            </div>
                            <div class="col-12 col-md-4 col-lg-3 py-3 text-center text-md-right">
                                <h6 class="list-group-item font-weight-bold text-white">最新活动</h6>
                                <ul class="list-group py-2">
                                    <li><a href="#">2019“音为有你”MUSIC Party音乐会</a></li>
                                    <li><a href="#">2019“音为有你”MUSIC Party音乐会</a></li>
                                    <li><a href="#">2019“音为有你”MUSIC Party音乐会</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3 py-3 text-center text-md-left">
                                <h6 class="list-group-item font-weight-bold my-auto text-white">关于我们</h6>
                                <ul class="list-group py-2">
                                    <li><b>联系电话：</b><br>021-62886358</li>
                                    <li><b>工作时间：</b><br>上午8:00——晚上20:00</li>
                                    <li><b>公司地址：</b><br>上海市静安区江宁路418-420号<br>和一大厦1111室</li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3 py-3 text-center text-md-left">
                                <h6 class="list-group-item font-weight-bold my-auto text-white">网站导航</h6>
                                <ul class="list-group py-2">
                                    <li><a href="#">首页</a></li>
                                    <li><a href="#">大师级导师</a></li>
                                    <li><a href="#">顶级舞台</a></li>
                                    <li><a href="#">蝌蚪乐队</a></li>
                                    <li><a href="#">预约报名</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3 py-3 text-center text-md-left">
                                <h6 class="list-group-item font-weight-bold my-auto text-white">微信公众号</h6>
                                <ul>
                                    <img src="{% static '7gkd/images/wechat.png' %}" style="width: 150px;" />
                                </ul>
                            </div>
                        </div>
                    </div>

					<div class="copyright" style="color:white;text-align: center;">
						&copy; 2015-2019: <a href="https://www.7kedou.com/">上海烁途信息科技有限公司</a>. All Rights Reserved
					</div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="{% static '7gkd/assets/js/jquery.min.js' %}"></script>
			<script src="{% static '7gkd/assets/js/skel.min.js' %}"></script>
			<script src="{% static '7gkd/assets/js/util.js' %}"></script>
			<script src="{% static '7gkd/assets/js/main.js' %}"></script>

	</body>
</html>
