{% load staticfiles %}
{% load notifications_tags %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/article/base.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static '/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'notifications/notify.js' %}"></script>
    {% block header_extends %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">D&R</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{% block nav_home_active %}{% endblock %}"><a href="{% url 'home' %}">首页</a></li>
                    <li class="{% block nav_article_active %}{% endblock %}"><a href="{% url 'article_list' %}">文章</a></li>
                    <li class="{% block nav_btcbrowser_active %}{% endblock %}"><a href="{% url 'btcbrowser' %}">区块浏览器</a></li>
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">更多<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="{% block nav_price_and_data_active %}{% endblock %}"><a href="{% url 'article_list' %}">行情&数据</a></li>
                                <li class="{% block nav_event_active %}{% endblock %}"><a href="{% url 'article_list' %}">活动</a></li>
                                <li class="{% block nav_test_active %}{% endblock %}"><a href="{% url 'test' %}">测试</a></li>
                                <li class="{% block nav_express_active %}{% endblock %}"><a href="{% url 'express' %}">快讯</a></li>
                                <li class="{% block nav_halving_active %}{% endblock %}"><a href="{% url 'halving' %}">减半追踪</a></li>
                                <li class="{% block nav_bitcoin_orange_active %}{% endblock %}"><a href="{% url 'bitcoin_orange' %}">Bitcoin Orange</a></li>
                                <li class="{% block nav_7gkd_active %}{% endblock %}"><a href="{% url '7gkd' %}">七个蝌蚪</a></li>
                            </ul>
                        </li>
                    </ul>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a></li>
                        <li><a href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a></li>
                    {% else %}
                        {% notifications_unread as unread_count %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                {% if user.has_nickname %}
                                    {{ user.username }}（{{ user.get_nickname }}）
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                                <span class="badge unread-count live_notify_badge">{% if unread_count > 0 %}{{ unread_count }}{% endif %}</span>
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'user_info' %}">个人资料</a></li>
{#                                <li><a href="{% url 'change_password' %}">修改密码</a></li>#}
                                <li><a href="{% url 'my_notifications' %}">我的消息 <span class="badge unread-count live_notify_badge">{% if unread_count > 0 %}{{ unread_count }}{% endif %}</span></a></li>
                                {% if user.is_staff or user.is_superuser %}
                                    <li><a href="{% url 'admin:index' %}">后台管理</a></li>
                                {% endif %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'logout' %}?from={{ request.get_full_path }}">退出登录</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer id="footer" class="wrapper">
        <div class="inner">
            {% if request.get_full_path == '/' %}
            <section>
                <div class="box">
                    <div class="content">
                        <h2 class="align-center">联系我们</h2>
                        <hr />
                        <form action="#" method="post">
                            <div class="field half first">
                                <label for="name">姓名</label>
                                <input name="name" id="name" type="text" placeholder="请填写姓名">
                            </div>
                            <div class="field half">
                                <label for="email">Email</label>
                                <input name="email" id="email" type="email" placeholder="请填写邮箱">
                            </div>
                            <div class="field">
                                <label for="dept">企业类型</label>
                                <div class="select-wrapper">
                                    <select name="dept" id="dept">
                                        <option value="">- 选择企业类型 -</option>
                                        <option value="1">区块链媒体</option>
                                        <option value="1">区块链项目</option>
                                        <option value="1">风投资本</option>
                                        <option value="1">社区代理</option>
                                        <option value="1">法律顾问</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <label for="message">留言信息</label>
                                <textarea name="message" id="message" rows="6" placeholder="请填写信息内容"></textarea>
                            </div>
                            <ul class="actions align-center">
                                <li><input value="发送信息" class="button special" type="submit"></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </section>
            {% endif %}
            <div class="copyright">
                &copy; Design: <a href="/">Peter Hon</a>. </a>. Company <a href="/">personal now</a>.
            </div>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="login_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form id="login_medal_form" action="" method="POST">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
              </div>
              <div class="modal-body">
                {% csrf_token %}
                {% for field in login_modal_form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                {% endfor %}
                <span id="login_modal_tip" class="text-danger"></span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">登录</button>
              </div>
            </form>
        </div>
      </div>
    </div>

    <script type="text/javascript">
        $("#login_medal_form").submit(function(event){
            event.preventDefault();
            $.ajax({
                url: '{% url "login_for_medal" %}',
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    if(data['status']=='SUCCESS'){
                        window.location.reload();
                    }else{
                        $('#login_medal_tip').text('用户名或密码不正确');
                    }
                }
            });
        });

        //自定义实时获取未读消息
        function my_special_notification_callback(data) {
            unread_count = data['unread_count'];
            if (unread_count == 0) {
                unread_count = '';
            }
            $('.live_notify_badge').text(unread_count);
        }
    </script>
    {% register_notify_callbacks callbacks='my_special_notification_callback' %}
    {% block script_extends %}{% endblock %}
</body>
</html>
