{% extends 'base.html' %}

{# 页面标题 #}
{% block title %}
    比特币区块浏览器
{% endblock %}

{% block nav_btcbrowser_active %}active{% endblock %}

{% load staticfiles %}
{% load comment_tags %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'article/btcbrowser.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="inner">
                <h1>比特币区块浏览器(Beta)</h1>
                <p>想查一下地址余额？想查一下交易上链没有？</p>
                <div class="input-group">
                    <input id="value" type="text" class="form-control input-lg" placeholder="请输入地址、交易哈希或高度（latest为最新高度）">
                    <span id="search" onclick="search()" class="input-group-addon btn btn-primary">搜&nbsp;&nbsp;&nbsp;索</span>
                </div>
            </div>
        </div>
    </div>
    <h1 id="search_error" class="text-danger" style="display: none"></h1>
    {% if status == 'EMPTY' %}
        <div class="tx-table-empty"></div>
    {% else %}
        <div class="tx-table">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
                        <div class="panel panel-bm txAbstract">
                            <div class="panel-heading">
                                {% if status == 'SUCCESS' %}
                                    <div class="panel-heading-title">查询{{ title }}</div>
                                {% else %}
                                    <div class="panel-heading-title">查询失败：{{ title }}</div>
                                {% endif %}
                            </div>
                            <div class="panel-body text-center">
                                <div class="tx-sheet embed-responsive embed-responsive-16by9">
                                    {% if type == 'address' %}
                                        <div class="abstract-section data-section data-section-1">
                                            <dl><dt>地址：</dt><dd>{{ address }}</dd></dl>
                                            <dl><dt>余额：</dt><dd><span>{{ balance }}</span> BTC</dd></dl>
                                            <dl><dt>交易次数：</dt><dd>{{ tx_count }}</dd></dl>
                                        </div>
                                        <div class="abstract-section data-section">
                                            <dl><dt>总接收：</dt><dd><span>{{ received }}</span> BTC</dd></dl>
                                            <dl><dt>总支出：</dt><dd><span>{{ sent }}</span> BTC</dd></dl>
                                            <dl><dt>未确认交易数：</dt><dd>{{ unconfirmed_tx_count }}</dd></dl>
                                        </div>
                                    {% elif type == 'transaction' %}
                                        <div class="abstract-section data-section data-section-1">
                                            <dl><dt>区块高度：</dt><dd><a href="?search={{ block_height }}">{{ block_height }}</a></dd></dl>
                                            <dl><dt>确认数：</dt><dd>{{ confirmations }}</dd></dl>
                                            <dl><dt>出块时间：</dt><dd>{{ block_time }}</dd></dl>
                                            <dl><dt>大小：</dt><dd><span>{{ size }}</span> Bytes</dd></dl>
                                            <dl><dt>虚拟大小：</dt><dd><span>{{ vsize }}</span> Bytes</dd></dl>
                                        </div>
                                        <div class="abstract-section data-section">
                                            <dl><dt>区块重量：</dt><dd>{{ weight }}</dd></dl>
                                            <dl><dt>输入：</dt><dd><span>{{ inputs_value }}</span> BTC</dd></dl>
                                            <dl><dt>输出：</dt><dd><span>{{ outputs_value }}</span> BTC</dd></dl>
                                            <dl><dt>Sigops：</dt><dd>{{ sigops }}</dd></dl>
                                            <dl><dt>矿工费：</dt><dd><span>{{ fee }}</span> BTC</dd></dl>
                                        </div>
                                    {% elif type == 'height' %}
                                        <div class="abstract-section data-section data-section-1">
                                            <dl><dt>区块高度：</dt><dd>{{ height }}</dd></dl>
                                            <dl><dt>确认数：</dt><dd>{{ confirmations }}</dd></dl>
                                            <dl><dt>出块时间：</dt><dd>{{ timestamp }}</dd></dl>
                                            <dl><dt>区块奖励：</dt><dd><span>{{ reward_block }}</span> BTC</dd></dl>
                                            <dl><dt>矿工费：</dt><dd><span>{{ reward_fees }}</span> BTC</dd></dl>
                                            <dl><dt>大小：</dt><dd><span>{{ size }}</span> Bytes</dd></dl>
                                            <dl><dt>区块重量：</dt><dd>{{ weight }}</dd></dl>
                                            <dl><dt>交易数：</dt><dd>{{ tx_count }}</dd></dl>
                                            <dl><dt>版本：</dt><dd>{{ version }}</dd></dl>
                                        </div>
                                        <div class="abstract-section data-section">
                                            <dl><dt>难度：</dt><dd>{{ difficulty }} / {{ pool_difficulty }}</dd></dl>
                                            <dl><dt>隔离见证：</dt><dd>{{ is_sw_block }}</dd></dl>
                                            <dl><dt>Bits：</dt><dd>{{ bits }}</dd></dl>
                                            <dl><dt>Nonce：</dt><dd>{{ nonce }}</dd></dl>
                                            <dl><dt>播报方：</dt><dd><a href="{{ pool_link }}">{{ pool_name }}</a></dd></dl>
                                            <dl><dt>区块哈希：</dt><dd>{{ hash }}</dd></dl>
                                            <dl><dt>前一个块：</dt><dd><a href="?search={{ prev_height }}">{{ prev_block_hash }}</a></dd></dl>
                                            <dl><dt>后一个块：</dt><dd><a href="?search={{ next_height }}">{{ next_block_hash }}</a></dd></dl>
                                            <dl><dt>Merkle Root：</dt><dd>{{ mrkl_root }}</dd></dl>
                                        </div>
                                    {% else %}
                                        <h1 style="text-align:center">你输入的内容有误，无法找到匹配结果</h1>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}
        <div style="text-align: center;margin-bottom: 20px;">
            <button id="video-btn" style="background-color: #ff9200;color: white!important;box-shadow: 1px 1px 5px #ccc;">&nbsp;视频板块Alpha&nbsp;</button>
        </div>
        <div id="videoplayer">
            <video id="video" controls="" preload="none" poster="https://snap1.d.tube/ipfs/QmcbhddedeoAoThM1xMgPfDPuv5ET4tTvemokJ2TsqkBV5">
                <source id="mp4" src="https://www.eternum.io/ipfs/QmadscQfrjny43P8gvUFf64QCdA8oTGoBo9NhXpZFmAD5S" type="video/mp4">
                <p>Your user agent does not support the HTML5 Video element.</p>
            </video>
        </div>

{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        $("#video-btn").on("click", function () {
            $("#videoplayer").toggle();
        });
        function search() {
            // 判断是否为空
            string = $("#value").val();
            if(string.trim() == ''){
                $("#search_error").show();
                $("#search_error").text('搜索内容不能为空');
                $(".tx-table").hide()
                $(".tx-table-empty").hide()
                return false;
            }
            window.location.href = '?search=' + string;
        }
        $('#value').bind('keypress', function (event) {//回车搜索
            if(event.keyCode== 13){
                search();//搜索函数
            }
        })
    </script>
{% endblock %}
