{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>生成快讯图（alpha）</title>
    <link rel="stylesheet" href="{% static '/bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static '/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/test.css' %}">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid navbar-mobile">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="logo-mobile">
                    <a class="navbar-brand" href="/btcbrowser/test"><img src="{% static '/images/logo-small.svg' %}"></a>
                </div>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav f-left">
                <li><a href="#">行情<span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">板块<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">数字货币</a></li>
                    <li><a href="#">DApp</a></li>
                    <li><a href="#">投资</a></li>
                    <li><a href="#">政策</a></li>
                    <li><a href="#">研究</a></li>
                    <li><a href="#">企业</a></li>
                  </ul>
                </li>
                <li><a href="#">指南<span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">活动<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Distributed Health 2018</a></li>
                    <li><a href="#">Distributed 2018</a></li>
                      <li><a href="https://www.baidu.com">百度一下，你就知道</a></li>
                  </ul>
                </li>
                <li><a href="#">电台<span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">刊物</a></li>
                    <li><a href="#">隐私条款</a></li>
                  </ul>
                </li>
                   <li><a href="#">注册</a></li>
              </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>

        <div class="container-fluid navbar-pc">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/btcbrowser/test"><img src="{% static '/images/logo-small.svg' %}"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse f-right" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav f-left">
                <li><a href="#">行情<span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">板块<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">数字货币</a></li>
                    <li><a href="#">DApp</a></li>
                    <li><a href="#">投资</a></li>
                    <li><a href="#">政策</a></li>
                    <li><a href="#">研究</a></li>
                    <li><a href="#">企业</a></li>
                  </ul>
                </li>
                <li><a href="#">指南<span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">活动<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Distributed Health 2018</a></li>
                    <li><a href="#">Distributed 2018</a></li>
                  </ul>
                </li>
                <li><a href="#">电台<span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">刊物</a></li>
                    <li><a href="#">隐私条款</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">注册</a></li>
                <li class="navbar-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></li>
              </ul>
            </div>
              <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->

    </nav>
    <div class="main-body">
        <div class="container container-fluid">
            <div class="row">
                <div class="col-md-offset-1 col-lg-offset-3 col-lg-6">
                    <div style="margin-top: 30px;">
                        <h2 style="margin-bottom: 20px;">生成快讯图（alpha）</h2>
                        <div class="ui-article-list">
                            <form id="express-form">
                              <div class="form-group">
                                <label for="InputTitle">标题 Title</label>
                                <input type="text" class="form-control" id="InputTitle" placeholder="标题">
                              </div>
                              <div class="form-group">
                                <label for="InputURL">链接 URL for QRcode</label>
                                <input type="url" class="form-control" id="InputURL" placeholder="链接（生成二维码）,默认为BitcoinMagazine官网">
                              </div>
                              <div class="form-group">
                                  <label for="InputTitle">正文 Content</label>
                                  <textarea id="InputContent" class="form-control" rows="10" placeholder="正文"></textarea>
                              </div>
                              <button id="generate" style="display:block;margin:0 auto;" type="submit" class="btn btn-default">生成 Generate</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="image-place" style="display:none;margin: 0 auto;width: 100%;text-align: center;position: absolute;top: 0;background: rgba(0,0,0,0.4);">
            <span id="close-image" style="position: absolute;top: 50%;right: 5%;font-size: 25px;color: white;border: 2px white solid;">关 闭</span>
            <div style="margin: 0 auto;margin-top: 20%;width: 100%;">
                <img id="output-img" src="" style="width: 50%;">
            </div>
        </div>
    </div>
</body>
<script>
    if ($(window).width() <= 768) {
        {#$(".navbar-header").css("height", "");#}
        $(".navbar-pc").hide();
        $(".navbar-mobile").show();
        $(".top-markets").hide();
        $(".top-stories").hide();
        $(".panel-name").hide();
        $('.ui-article-list>.content>h1.title').css("font-size", "20px");
        $('.ui-article-list>.content>h1.title').css("line-height", "20px");
    }
    else{
        $(".navbar-pc").show();
        $(".navbar-header").css("height", "65px");
        $(".navbar-mobile").hide();
        $(".top-markets").show();
        $(".top-stories").show();
        $(".panel-name").show();
        $('.ui-article-list>.content>h1.title').css("font-size", "1.8vmax");
        $('.ui-article-list>.content>h1.title').css("line-height", "2vmax");
    };

    window.onresize = function () {
        var width =  $(window).width();
        if (width <= 768) {
            {#$(".navbar-header").css("height", "");#}
            $(".navbar-pc").hide();
            $(".navbar-mobile").show();
            $(".top-markets").hide();
            $(".top-stories").hide();
            $(".panel-name").hide();
            $('.ui-article-list>.content>h1.title').css("font-size", "20px");
            $('.ui-article-list>.content>h1.title').css("line-height", "20px");
        }
        else{
            $(".navbar-pc").show();
            $(".navbar-header").css("height", "65px");
            $(".navbar-mobile").hide();
            $(".top-markets").show();
            $(".top-stories").show();
            $(".panel-name").show();
            $('.ui-article-list>.content>h1.title').css("font-size", "1.8vmax");
            $('.ui-article-list>.content>h1.title').css("line-height", "2vmax");
        };
    };
</script>
<script>
    $("#express-form").submit(function () {
        // 判断是否为空
        if($("#InputTitle").val().trim()==''){
            window.alert('标题不能为空');
            return false;
        }
        {#else if($("#InputURL").val().trim()==''){#}
        {#    window.alert('链接不能为空');#}
        {#    return false;#}
        {#}#}
        else if($("#InputContent").val().trim()==''){
            window.alert('正文不能为空');
            return false;
        }
        var input_title = $("#InputTitle").val();
        var input_url = $("#InputURL").val();
        var input_content = $("#InputContent").val();
        // 异步提交
        $.ajax({
            url: "{% url 'express_img' %}",
            type: 'POST',
            data: {
                'input_title': input_title,
                'input_url': input_url,
                'input_content': input_content,
            },
            cache: false,
            success: function (data) {
                console.log(data);
                $("#image-place").show();
                document.getElementById('output-img').src = "data:image/png;base64, " + data;
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
        return false;
    });
    $("#close-image").click(function () {
        $("#image-place").hide();
    })
</script>
</html>
