{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    首页|比特币杂志|Bitcoin Magazine
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'article/home.css' %}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>

    <link rel="stylesheet" href="../static/assets/css/main.css" />
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/jquery.scrolly.min.js"></script>
    <script src="../static/assets/js/jquery.scrollex.min.js"></script>
    <script src="../static/assets/js/skel.min.js"></script>
    <script src="../static/assets/js/util.js"></script>
    <script src="../static/assets/js/main.js"></script>
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}

    <!-- Banner -->
<!--
    To use a video as your background, set data-video to the name of your video without
    its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
    formats to work correctly.
-->

    <section id="banner" data-video="../static/images/banner">
        <div class="inner">
            <a href="/">
                <div id="main-logo-lg">
                    <h1 class="banner-header">Bitcoin Magazine</h1>
                </div>
            </a>
            <p>多读书<br>多看报<br>少吃零食<br>多睡觉</p>
            <a href="#one" class="button special scrolly">Get Started</a>
        </div>
    </section>

<!-- One -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="../static/images/pic01.jpg" alt="" />
                    </div>
                        <div class="content">
                            <header class="align-center">
                                <a href="{% url 'article_detail' newest_article.id %}" class="article-detail">
                                    <h2>{{ newest_article.title }}</h2>
                                    <p>{{ newest_article_author }}</p>
                                </a>
                            </header>
                            <hr />
                            <a href="{% url 'article_detail' newest_article.id %}" class="article-detail">
                                <p>{{ newest_article.content|safe|striptags|truncatechars:400 }}</p>
                            </a>
                        </div>

                </div>
            </div>
        </div>
    </section>

<!-- Two -->
    <section id="two" class="wrapper style3">
        <div class="inner">
            <div id="flexgrid">
                <div class="hot-data">
                    <header>
                        <h3>今日热门文章</h3>
                    </header>
                    {% for hot_data in today_hot_data %}
                        <li><a href="{% url 'article_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>
                            （{{ hot_data.read_num }}）
                        </li>
                    {% empty %}
                        <li>今天暂时没有热门文章</li>
                    {% endfor %}
{#                    <ul class="actions">#}
{#                        <li><a href="#" class="button alt">Learn More</a></li>#}
{#                    </ul>#}
                </div>
                <div class="hot-data">
                    <header>
                        <h3>昨日热门文章</h3>
                    </header>
                    <ul>
                        {% for hot_article in hot_articles_for_yesterday %}
                            <li><a href="{% url 'article_detail' hot_article.id %}">{{ hot_article.title }}</a>
                                （{{ hot_article.read_num_sum }}）
                            </li>
                        {% empty %}
                            <li>昨天暂时没有热门文章</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="hot-data">
                    <header>
                        <h3>近7天热门文章</h3>
                    </header>
                    <ul>
                        {% for hot_article in hot_articles_for_7_days %}
                            <li><a href="{% url 'article_detail' hot_article.id %}">{{ hot_article.title }}</a>
                                （{{ hot_article.read_num_sum }}）
                            </li>
                        {% empty %}
                            <li>昨天暂时没有热门文章</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

<!-- Three -->
    <section id="three" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="../static/images/pic02.jpg" alt="" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <a href="{% url 'article_detail' second_article.id %}" class="article-detail">
                                    <h2>{{ second_article.title }}</h2>
                                    <p>{{ second_article_author }}</p>
                                </a>
                            </header>
                            <hr />
                            <a href="{% url 'article_detail' second_article.id %}" class="article-detail">
                                <p>{{ second_article.content|safe|striptags|truncatechars:250 }}</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="../static/images/pic03.jpg" alt="" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <a href="{% url 'article_detail' third_article.id %}" class="article-detail">
                                    <h2>{{ third_article.title }}</h2>
                                    <p>{{ third_article_author }}</p>
                                </a>
                            </header>
                            <hr />
                            <a href="{% url 'article_detail' third_article.id %}" class="article-detail">
                                <p>{{ third_article.content|safe|striptags|truncatechars:250 }}</p>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

<!-- Four -->
    <section id="four" class="wrapper style3">
        <div class="inner">

            <!-- 图表容器 DOM -->
    <div id="container"></div>
    <!-- 今日热门文章 -->



        </div>
    </section>









    <script>
        // 图表配置
        var options = {
            chart: {
                type: 'line'                //指定图表的类型，默认是折线图（line）
            },
            title: {
                text: null                 // 标题
            },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickMarkPlacement: 'on',
                title: { text: '近7日阅读量变化' },
            },
            yAxis: {
                title: {
                    text: null               // y 轴标题
                },
                labels: { enabled: false },
                gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ read_nums }}                     // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: { enabled: false }, // 图例
            credits: { enabled: false },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endblock %}
